<!-- <h1>
  Générateur 
</h1>

<div><span>id: </span>{{pipo.id}}</div>
<div><span>name: </span>{{pipo.name}}</div>


<div>
  <label>name:
    <input [(ngModel)]="pipo.name" placeholder="name">
  </label>
</div> -->


<!-- <ul class="pipos">
  <li>
    <span class="badge">{{pipo.id}}</span> {{pipo.name}}
  </li>
</ul> -->

<ul class="pipos">
  <li *ngFor="let pipo of pipos"
    [class.selected]="pipo === selectedPipo"
    (click)="onSelect(pipo)">
    <span class="badge">{{pipo.id}}</span> {{pipo.name}}
  </li>
</ul>



  <div *ngIf="selectedPipo">
    <h2>{{selectedPipo.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedPipo.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedPipo.name" placeholder="name">
      </label>
    </div>
  </div>